<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <title>Logged In</title>
</head>
<body>
    <div><a href="/Person/Home" class="btn btn-success">Home</a> <a class="btn btn-danger" href="/Person/List">List</a></div>
    <div>
        @RenderBody()
    </div>
    <div>&copy; Adv .Net Spring 2021-2022</div>
</body>
</html>
