@model IntroMVC.Models.Person
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_loggedIn.cshtml";
}

<h2>Home</h2>
<h3 class="label-info">This is your home page</h3>
<h4>Name : @Model.Name</h4>
<h4>Id : @Model.Id</h4>
<h4>Dob : @Model.Dob</h4>

